@{
    ViewBag.Title = "Statistics";
    Layout = "_Layout";
}

<div class="mt-5 m-auto" id="statPageContainer">
        <div class="d-flex align-items-center justify-content-center gap-2">
            @*Back button*@
            <form asp-controller="Admin" asp-action="Index">
                <button type="submit" class="d-flex " style="background-color: transparent; border: none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="white" class="bi bi-box-arrow-left" viewBox="0 1.5 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                </button>
            </form>
            <h1 style="color: white">Site Stats</h1>
            
        </div>
    <div class="col-12 col-md-8 m-auto">
        <div class="adminStats text-center">
            <h2>Users</h2>
            <span class="mx-auto" id="userCount" style="font-size: 2rem;">N/A</span>
        </div>
    </div>
    <div class="col-12 col-md-8 m-auto">
        <div class="adminStats text-center">
            <h2>Logged workouts</h2>
            <span class="mx-auto" id="loggedWorkoutCount" style="font-size: 2rem;">N/A</span>
        </div>
    </div>
    <div class="col-12 col-md-8 m-auto">
        <div class="adminStats text-center">
            <h2>Workouts</h2>
            <span class="mx-auto" id="workoutCount" style="font-size: 2rem;">N/A</span>
        </div>
    </div>
    <div class="col-12 col-md-8 m-auto">
        <div class="adminStats text-center">
            <h2>Exercises</h2>
            <span class="mx-auto" id="exerciseCount" style="font-size: 2rem;">N/A</span>
        </div>
    </div>
    <div class="col-12 col-md-8 m-auto">
        <div class="adminStats text-center">
            <h2>Routines</h2>
            <span class="mx-auto" id="routineCount" style="font-size: 2rem;">N/A</span>
        </div>
    </div>
</div>
