@using System.Security.Cryptography
@using trainer.ViewModels
@model IEnumerable<trainer.ViewModels.LogViewModel>

@{
    ViewBag.Title = "Manage Workouts";
    Layout = "_Layout";
}

@*Displays a list of the users workouts*@


<div class="col-md-6  logList m-auto">
    <div class="d-flex align-items-center justify-content-center">
        @*Back button*@
        <form asp-controller="Trainer" asp-action="Index">
            <button type="submit" class="d-flex " style="background-color: transparent; border: none">
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="white" class="bi bi-box-arrow-left" viewBox="0 1.5 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
            </button>
        </form>

        @*Switches info based on workout amount*@
        @if (!Model.Any())
        {
            <h1 class="scaleDownSoft">You have no logs</h1>
        }
        else
        {
            <h1>Your Log</h1>
        }
    </div>

    @foreach (var loggedWorkout in Model.OrderByDescending(d => d.LoggedWorkout.Date))
    {
        var date = loggedWorkout.LoggedWorkout.Date.ToString("dd.MM");

        <div class="row align-items-center justify-content-center exerciseListItem">
            <div class="col-md-8 col-10 d-flex justify-content-between align-items-center exerciseListInfo">
                <div>
                    <div>
                        <h3 id="exerciseName" name="Name">@loggedWorkout.WorkoutName</h3>
                    </div>
                    <div>
                        <h5>@date</h5>
                    </div>
                    <div>
                        @if (loggedWorkout.LoggedWorkout.StartTime != TimeOnly.Parse("00:00:00") && loggedWorkout.LoggedWorkout.EndTime != TimeOnly.Parse("00:00:00"))
                        {
                            var duration = loggedWorkout.LoggedWorkout.EndTime - loggedWorkout.LoggedWorkout.StartTime;
                            var durationInMinutes = Math.Round(duration.TotalMinutes);
                            <h6>@durationInMinutes min</h6>
                        }
                    </div>
                </div>
                <div class="d-flex">
                    <div>
                        <form asp-action="LoggedContent" asp-controller="Log" asp-route-id="@loggedWorkout.LoggedWorkout.Id">
                            <button type="submit" style="background: none; border: none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="#0a84ff" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                    @*Deletes logged workouts*@
                    <div>
                        <svg data-log-id="@loggedWorkout.LoggedWorkout.Id" xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="#ff453a" class="bi bi-trash delete-logged-workout" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
