@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="align-items-center justify-content-center m-auto d-grid">

    <div>    
        <p style="color: white; text-align: center">
            Please check your email to reset your password.
        </p>
    </div>
    
    <div class="align-items-center justify-content-center m-auto">
        <a asp-area="Identity" asp-page="/Account/Login"asp-area="Identity" asp-page="/Account/Login">
            <button type="submit" class="btn btn-primary">Back to login</button>
        </a>
    </div>
    
    
</div>

