@model trainer.Models.Exercise

@{
    ViewData["Title"] = "Create";
}

<div class="row row-fill-height">
    <div class="col-lg-4 backg-columns exerciseList exerciseListInfo m-auto p-3">
        <div class="row">
            <h4 class="col-6">Create exercise</h4>
            <a asp-action="Index" class="col-1 m-auto">
                <button class="btn btn-danger">Back</button>
            </a>
        </div>
        
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuscleGroup" class="control-label"></label>
                <select asp-for="MuscleGroup" asp-items="ViewBag.MuscleGroups" class="form-control">
                    <option value="">-- Select Muscle Group --</option>
                </select>
                <span asp-validation-for="MuscleGroup" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RequiresGym"/> @Html.DisplayNameFor(model => model.RequiresGym)
                </label>
            </div>
            <div class="form-group">
                <label for="gifFile" class="control-label">Exercise Gif</label>
                <input type="file" id="gifFile" name="gifFile" class="form-control" accept=".gif"/>
                <span asp-validation-for="GifUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2"/>
            </div>
        </form>
    </div>
</div>
