@model List<Friend>

@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<div class="col-md-6 exerciseList m-auto" id="usersList">
    <div class="d-flex align-items-center justify-content-center">
        @*Back button*@
        <form asp-controller="Routines" asp-action="Manage">
            <button type="submit" class="d-flex " style="background-color: transparent; border: none">
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="white" class="bi bi-box-arrow-left" viewBox="0 1.5 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
            </button>
        </form>
         <h1 class="scaleDownHard">Share @ViewBag.Routine.Name</h1>
     </div>

        @if (Model != null)
        {
           @*Displays list of users to choose from*@
            @foreach (var user in Model)
            {
                <div class="row align-items-center justify-content-center exerciseListItem">
                    <div class="col-md-8 col-10 d-flex justify-content-between align-items-center exerciseListInfo">
                        <div>
                            <h3 id="userNickname" name="Name">@user.HasFriend.Nickname</h3>

                        </div>
                        <form method="post" asp-action="ShareRoutine" asp-controller="Routines" asp-route-rid="@ViewBag.Routine.Id" asp-route-uid="@user.HasFriendId">
                            <button type="submit" class="btn btn-primary" style="background-color: #0a84ff; border: none">Share</button>
                        </form>
                    </div>
                </div>
                }
        }
        else
        {
            <p>No users found.</p>
        }
    
    </div>
   