@model List<trainer.ViewModels.GeneratedWorkoutViewModel>

@{
    ViewBag.Title = "Generated Workout";
    Layout = "_Layout";
}

<div class="col-md-6 exerciseList m-auto" id="exercisesInWorkout">
    
    <div class="d-flex align-items-center justify-content-center" style="margin-bottom: 1rem;">
        @*Back button*@
        <form asp-controller="Generation" asp-action="Workout">
            <button type="submit" class="d-flex " style="background-color: transparent; border: none">
                <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="white" class="bi bi-box-arrow-left" viewBox="0 1.5 16 16">
                    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
            </button>
        </form>

        
        <h1 class="scaleDownSoft">Generated workout</h1>

    </div>
    
    <div>
        <form asp-action="AddGeneratedWorkout" asp-controller="Generation" method="post">
            <div class="d-flex col-md-8 col-10 m-auto gap-2" style="padding-bottom: 1rem;">
                <input type="text" name="name" class="form-control" placeholder="Workout Name" oninput="validateInput(this)" required maxlength="15"/>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
      
            @*Displays each exercise in the workout*@
         
            @foreach (var exercise in Model)
            {
                <div class="row align-items-center justify-content-center exerciseListItem ">
                    <div class="col-md-8 col-10 d-flex justify-content-between align-items-center position-relative exerciseListInfo">
                        <div class="position-absolute top-0 end-0" style="margin: 0.3rem;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor" class="exerciseInfo" viewBox="0 0 16 16" data-gif-url="@exercise.GifUrl">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l-.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </div>

                        <div>
                            <input type="hidden" value="@exercise.Sets" name="Exercise[@exercise.Id].Sets">
                            <h3 id="exerciseName" name="Name">@exercise.ExerciseName</h3>
                            <label for="sets">Sets</label>
                            <medium id="sets" name="Sets">@exercise.Sets</medium>
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

@*Modal for showing exercise gif*@
<div id="modal1" class="modal">
    <img class="modal-content" id="img01">
</div>

